<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
</head>
<body>
<aside>
          <div id="sidebar"  class="nav-collapse">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">

              	  <p class="centered"><a href=""><img src="{% static "img/ui-sam.jpg" %}" class="img-circle" width="60"></a></p>
              	  <h5 class="centered">{{ username }}</h5>

                  <li class="mt">
                      <a class="active" href="index.html">
                          <i class="fa fa-dashboard"></i>
                          <span>仪表盘</span>
                      </a>
                  </li>
				  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-tasks"></i>
                          <span>社团动态</span>
                      </a>
                      <ul class="sub">
                          <li><a href="{% url 'admin_post_overview' %}">概览</a></li>
                          <li><a href="{% url 'admin_post_edit' %}">已发布动态</a></li>
                          <li><a href="{% url 'admin_post_verify' %}">需审核动态</a></li>
                          <li><a href="{% url 'admin_post_denied' %}">未通过动态</a></li>
                          <li><a href="{% url 'admin_post_analysis' %}">动态数据分析</a></li>
                      </ul>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-book"></i>
                          <span>社团打分</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="{% url 'admin_stars_overview' %}">概览</a></li>
                          <li><a  href="{% url 'admin_stars_mark' %}">未打分</a></li>
                          <li><a  href="{% url 'admin_stars_marked' %}">已打分</a></li>
                          <li><a href="{% url 'admin_stars_history' %}">历史打分</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-desktop"></i>
                          <span>数据分析</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="general.html">概览</a></li>
                          <li><a  href="buttons.html">社团动态分析</a></li>
                          <li><a  href="panels.html">社团成就分析</a></li>
                      </ul>
                  </li>

			  </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
</body>
</html>