<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link type="text/css" href="../statics/css/bootstrap.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>登陆界面</title>
<link rel="stylesheet" href="../statics/css/bootstrap.css">
</head>


<body>
<div>
	<form class="form-horizontal">
	<div class="form-group">
		<h2  class="">登陆</h2>
	</div>
  <div class="form-group">
    <label for="inputUsername" class="col-sm-5 control-label">用户名：</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="inputUsername" placeholder="用户名">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword" class="col-sm-5 control-label">密码：</label>
    <div class="col-sm-3">
      <input type="password" class="form-control" id="inputPassword" placeholder="密码">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-6 col-sm-10">
      <button type="submit" class="btn btn-default">登陆</button>
    </div>
  </div>
</form>
</div>
</body>
</html>
