<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
</head>
<body>
<!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
<!--header start-->
<header class="header black-bg">
    <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
    </div>
    <!--logo start-->
    <a href="../index.html" class="logo"><b>建平学生社团管理系统</b></a>
    <!--logo end-->
    <div class="nav notify-row" id="top_menu">
        <!--  notification start -->
        <ul class="nav top-menu">
            <!-- settings start -->
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="../index.html#">
                    <i class="fa fa-tasks"></i>
                    <span class="badge bg-theme">4</span>
                </a>
                <ul class="dropdown-menu extended tasks-bar">
                    <div class="notify-arrow notify-arrow-green"></div>
                    <li>
                        <p class="green">有{{ post_request_num }}待处理的动态</p>
                    </li>
                    {% for post_request in post_request_list %}
                        <li>
                            <a href="../index.html#">
                                <div class="task-info">
                                    <div class="desc">{{ post_request.name }}</div>
                                </div>
                                <div class="task-list">
                                    <div class="desc">{{ post_request.content }}</div>
                                </div>
                            </a>
                        </li>
                        {% empty %}
                        <li>
                            <a href="">
                                <div class="task-info">
                                    <div class="desc">没有待处理的动态</div>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                    <li class="external">
                        <a href="#">See All Tasks</a>
                    </li>
                </ul>
            </li>
            <!-- settings end -->
            <!-- inbox dropdown start-->
            <li id="header_inbox_bar" class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="../index.html#">
                    <i class="fa fa-envelope-o"></i>
                    <span class="badge bg-theme">5</span>
                </a>
                <ul class="dropdown-menu extended inbox">
                    <div class="notify-arrow notify-arrow-green"></div>
                    <li>
                        <p class="green">{{ message_unread_num }}条未读消息</p>
                    </li>
                    {% for message in messgae_list %}
                        <li>
                            <a href="">
                                    <span class="photo">
                                        <img alt="avatar" src="{% static "img/ui-zac.jpg" %}">
                                    </span>
                                <span class="subject">
                                        <!-- TODO: add class type to css!! -->
                                        <span class="from">{{ message.from_user }}</span>
                                        <span class="time">{{ message.send_time }}</span>
                                        <span class="type">{{ message.type }}</span>
                                    </span>
                                <span class="message">
                                        {{ message.content }}
                                    </span>
                            </a>
                        </li>
                        {% empty %}
                        <li>
                            <a class="no-message">暂时没有未读的消息！</a>
                            <!-- TODO: add class no-message to css!! -->
                        </li>
                    {% endfor %}
                    <li>
                        <a href="{% url 'admin_message_unread' %}">查看所有未读消息</a>
                    </li>
                </ul>
            </li>
            <!-- inbox dropdown end -->
        </ul>
        <!--  notification end -->
    </div>
    <div class="top-menu">
        <ul class="nav pull-right top-menu">
            <li><a class="logout" href="../login.html">注销</a></li>
        </ul>
    </div>
</header>
<!--header end-->

</body>
</html>