{% extends "index/template.html" %}

{% block content %}
    <div class="columns is-mobile" align="right">
        <div class="column">
            <a class="button is-primary" href="{% url 'StudentClubEstablish' %}">创建社团</a>
        </div>
    </div>
    <div class="columns is-multiline is-mobile">
        {% for club in club_list %}
            <div class="column is-one-quarter">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-1by1">
                            <img src="../../assets/dp.jpg">
                        </figure>
                    </div>

                    <div class="card-content">
                        <div class="content">
                            {% if club.IfRecruit == 1 %}
                                <p class="title is-4 has-text-centered">{{ club.ClubName }}</p>
                            {% else %}
                                <p class="title is-4 has-text-centered">{{ club.ClubName }}(不招新)</p>
                            {% endif %}


                        </div>
                    </div>

                    <footer class="card-footer">
                        {#                            todo: the link to club#}
                        <a class="card-footer-item" href="{% url 'StudentClubDetail' club.ClubId %}">
                            {% if club.IfRecruit == 1 %}
                                我想加入
                            {% else %}
                                查看该社团
                            {% endif %}
                        </a>
                    </footer>

                </div>


            </div>
        {% empty %}
            <p class="lead">无社团</p>
        {% endfor %}
    </div>
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
        <ul class="pagination-list">
            {% if club_list.has_previous == True and club_list.previous_page_number != 1 %}
                <li><a class="pagination-link" href="{% url 'StudentClubList' 1 %}">
                    1
                </a>
                </li>
                <li>
                    <span class="pagination-ellipsis">&hellip;</span>
                </li>
                <li>
                    <a class="pagination-link" href="{% url 'StudentClubList' club_list.previous_page_number %}">
                        {{ club_list.previous_page_number }}
                    </a>
                </li>
            {% elif club_list.has_previous == True and club_list.previous_page_number == 1 %}
                <li><a class="pagination-link" href="{% url 'StudentClubList' 1 %}">
                1
            </a>
            {% endif %}
            <li>
                <a class="pagination-link is-current" aria-current="page">
                    {{ club_list.number }}
                </a>
            </li>
            {% if club_list.has_next == True and club_list.next_page_number == club_list.paginator.num_pages %}
                <li>
                    <a class="pagination-link" href="{% url 'StudentClubList' club_list.paginator.num_pages %}">
                        {{ club_list.paginator.num_pages }}
                    </a>
                </li>
            {% elif club_list.has_next == True and club_list.next_page_number != club_list.paginator.num_pages %}
                <li>
                    <a class="pagination-link" href="{% url 'StudentClubList' club_list.next_page_number %}">
                        {{ club_list.next_page_number }}
                    </a>
                </li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                <li>
                    <a class="pagination-link" href="{% url 'StudentClubList' club_list.paginator.num_pages %}">
                        {{ club_list.paginator.num_pages }}
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}