{% extends "index/template.html" %}

{% block content %}\

    <div class="columns is-mobile" align="right">
        <div class="column">
            <a class="button is-primary is-large" href="{% url 'StudentClubEstablish' %}">创建社团</a>
        </div>
    </div>

    <div class="columns is-multiline is-mobile">
        {% for club in club_list %}
            <div class="column is-one-quarter">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-1by1">
                            <img src="../../assets/dp.jpg">
                        </figure>
                    </div>

                    <div class="card-content">
                        <div class="content">
                            {% if club.IfRecruit == 1 %}
                                <p class="title is-4">{{ Club.ClubName }}</p>
                            {% else %}
                                <p class="title is-4">{{ Club.ClubName }}(不招新)</p>
                            {% endif %}


                        </div>
                    </div>

                    <footer class="card-footer">
                        {#                            todo: the link to club#}
                        <a class="card-footer-item">
                            {% if club.IfRecruit == 1 %}
                                <p>我想加入</p>
                            {% else %}
                                <p>查看该社团</p>
                            {% endif %}
                        </a>
                    </footer>

                </div>


            </div>
        {% endfor %}
    </div>

{% endblock %}