{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>{% block title %}社团主页-{{ club.name }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
{% block content %}

{% if not club %}
    <h1>404 Not Found</h1>
{% else %}
    <div class="jumbotron">
        <h1>
            {{ club.name }}
        </h1>
        <p>
            {{ club.introduction }}
        </p>
        <p>
            <a class="btn btn-primary btn-large" href="#">社团动态</a>
        </p>
    </div>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <h2>
                            社长
                        </h2>
                        <p>
                            是个秃子
                        </p>
                        <h2>
                            加入我们
                        </h2>
                        <p>
                            招新广告
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endif %}
{% endblock %}
</body>
</html>