.jumbotron p{
    padding-top: 20px;
    padding-left:100px;
}

.jumbotron h1{
    padding-left:100px;
}

footer{
    padding:10px 10px 10px 0;
    background-color: #333333;
    position:relative;bottom:0;width:100%;height: auto;
}

footer p{
    color: #A4AABA;
    margin-bottom: 0;
}
