<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>建平学生平台</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "/css/bulma.css" %}">
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
</head>
<body>

<nav class="navbar ">
    <div class="navbar-brand">
        <a class="navbar-item" href="">
            建平中学学生平台
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item " href="/about">
                关于
            </a>
            <a class="navbar-item " href="/contact">
                联系我们
            </a>
        </div>
        <div class="navbar-end">

            {% if a %}
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="">欢迎,{{ UserName }}</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/profile">
                            修改信息
                        </a>
                        <a class="navbar-item" href="{% url 'Logout' %}">
                            注销
                        </a>
                    </div>

                </div>

            {% else %}
                <div class="navbar-item">
                    <div class="field">
                        <p class="control">
                            <a href="{% url 'CDLogin' %}">登陆</a>
                        </p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</nav>

<div class="columns">
    <div class="column is-one-fifth">
        <aside class="menu">
            <p class="menu-label">
                总览
            </p>
            <ul class="menu-list">
                <li>
                    <a href="{% url 'CDDashboard' %}">仪表盘</a>
                </li>
            </ul>
            <p class="menu-label">
                社团
            </p>
            <ul class="menu-list">
                <li>
                    <a href="{% url 'CDClubList' %}">所有社团</a>
                </li>
                <li>
                    <a href="{% url 'CDPostList' 1 %}">社团活动记录</a>
                </li>
            </ul>
            <p class="menu-label">
                招新
            </p>
            <ul class="menu-list">
                <li>
                    <a href="/recruit/classroom/list">公共教室列表</a>
                </li>
            </ul>
            <p class="menu-label">
                活动
            </p>
            <ul class="menu-list">
                <li>
                    <a href="/Activity">列表</a>
                </li>
            </ul>
            <p class="menu-label">
                文件
            </p>
            <ul class="menu-list">
                <li>
                    <a href="/File/Upload">上传</a>
                </li>
                <li>
                    <a href="/File/Download">下载</a>
                </li>
            </ul>
            <p class="menu-label">
                用户
            </p>
            <ul class="menu-list">
                <li>
                    <a href="/User">批量创建用户</a>
                    <a href="/User/One">创建单一用户</a>
                </li>
            </ul>
        </aside>
    </div>
    <div class="column">
        {% block content %}

        {% endblock %}
    </div>
</div>


</body>
</html>