{% extends "index/template.html" %}

{% block content %}

    <table class="table">
        <thead>
        <tr>
            <th>社团ID</th>
            <th>社团名称</th>
            <th>状态</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>社团ID</th>
            <th>社团名称</th>
            <th>状态</th>
        </tr>
        </tfoot>
        <tbody>
        {% for membership in list %}
            <tr>
                <th>{{ membership.Club.ClubId }}</th>
                <td>{{ membership.Club.ClubName }}</td>
                <td>
                    {% if membership.State == 0 %}
                        未通过
                    {% elif membership.State == 1 %}
                        已加入
                    {% elif membership.State == 2 %}
                        被拒绝
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}