{% extends 'index/template.html' %}

{% block content %}

    <div class="content is-medium" align="center">
        <div>
            <h3>
                建平中学学生平台（以下简称为JPSP）由建平中学学生社团Jeek信息社独立开发
            </h3>
            <p>特别感谢<a href="" target="_blank">Github</a>以及<a href="" target="_blank">JetBrains</a></p>
        </div>
        <div>
            <br>
            <div>
                <h2>后端</h2>
                <p>后端架构为Django</p>
            </div>
        </div>
        <div>
            <h2>
                JPSP开发日记
            </h2>
            <a href="https://alienmao.gitbooks.io/jpsp_diary/content/">JPSP DEVELOP DIARY（常年拖更）</a>
        </div>
        <div>
            <h2>Contributors</h2>
            <p><a href="https://alienmao.github.io/">2018届（3）班邱世贸</a><span>、</span>
                <a href="https://about.me/nichujie">2018届（13）班倪楚劼</a><span>、</span>
                <a href="https://github.com/Artanic30">2018届（3）班邱龙田</a>
            </p>
        </div>
    </div>
{% endblock %}