{% extends "index/template.html" %}

{% block content %}

    <div class="hero-body">
        <div class="container">
            <form action="{% url 'StudentCheckLogin' %}" method="post">
                {% csrf_token %}
                <section class="container">
                    <h2 class="title is-2" style="text-align: center">学生登录</h2>
                    <div class="columns is-mobile">
                        <div class="column is-half is-offset-one-quarter">
                            <div class="field">
                                <label class="label">用户名</label>
                                <div class="control">
                                    <input class="input" type="number" placeholder="e.g. 20151333"
                                           name="username">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-half is-offset-one-quarter">
                            <div class="field">
                                <label class="label">密码</label>
                                <div class="control">
                                    <input class="input" type="password" name="password" title="密码">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="columns is-mobile">
                        <div class="column is-half is-offset-one-quarter">
                            <div class="field is-grouped">
                                <div class="control">
                                    <button class="button is-primary" type="submit">登录</button>
                                </div>
                                <div class="control">
                                    <button class="button is-warning">
{#                                        todo : add the link to reset password#}
                                        <a href="">忘记密码？</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </form>
        </div>
    </div>

{% endblock %}