<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>建平学生平台</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "/css/bulma.css" %}">
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
</head>
<body>
<section class="hero is-fullheight">
    <div class="hero-head">
        <nav class="navbar">
            <div class="navbar-brand">
                <a class="navbar-item" href="{% url 'Index' %}">
                    建平中学学生平台
                </a>
                <div class="navbar-burger" data-target="navMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                {#                todo: fill the navbar-burger above#}

            </div>
            <div id="navMenu" class="navbar-menu">
                <div class="navbar-start">
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link ">
                            社团
                        </a>
                        <div class="navbar-dropdown ">
                            <a class="navbar-item " href="{% url 'StudentClubList' page=1 %}">
                                社团列表
                            </a>
                            <a class="navbar-item ">
                                社团动态
                            </a>
                        </div>
                    </div>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link ">
                            活动
                        </a>
                        <div class="navbar-dropdown ">
                            <a class="navbar-item ">
                                活动报名
                            </a>
                            <a class="navbar-item ">
                                活动动态
                            </a>
                        </div>
                    </div>
                    <a class="navbar-item" href="#">
                        失物招领
                    </a>
                    <a class="navbar-item" href="{% url 'About' %}">
                        关于
                    </a>
                    <a class="navbar-item" href="{% url 'Contact' %}">
                        联系我们
                    </a>
                </div>

                <div class="navbar-end">
                    {% if user.is_authenticated %}
{#                        todo: fix the problem that login state is suddenly lost#}
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link ">
                            欢迎你，{{ user.username }}
                        </a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item " href="{% url 'StudentDashboardIndex' %}">个人中心</a>
                            <a class="navbar-item " href="{% url 'StudentDashboardClubs'  %}">社团</a>
                            <a class="navbar-item " href="{% url 'StudentDashboardActivities'  %}">活动</a>
                            <a class="navbar-item " href="{% url 'StudentDashboardPassword' %}">更改密码</a>
                            <a class="navbar-item " href="{% url 'Logout' %}">注销</a>
                        </div>
                    </div>
                    {% else %}
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link " href="{% url 'StudentLogin' %}">
                            登录
                        </a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item " href="{% url 'StudentLogin' %}">
                                学生登录
                            </a>
                            <a class="navbar-item " href="{% url 'ClubLogin' %}">
                                社长登录
                            </a>
                            <a class="navbar-item " href="{% url 'CDLogin' %}">
                                社团部登录
                            </a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
    <div class="hero-body">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </div>

</section>

</body>
</html>