{% extends 'admin/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>建平学生系统系统后台-历史消息</title>
</head>
<body>
{% block content %}
    <section id="main-content">
        <section class="wrapper">
            <table class="table table-striped">
                {{ if  }}
                <tr>
                    <td>
                        ID
                    </td>
                    <td>
                        消息类型
                    </td>
                    <td>
                        消息内容
                    </td>
                    <td>
                        发送者
                    </td>
                    <td>
                        发送时间
                    </td>
                </tr>
                {% for message in message_list_history %}
                    <tr>
                        <td>
                            {{ message.id }}
                        </td>
                        <td>
                            {{ message.type }}
                        </td>
                        <td>
                            {{ message.content }}
                        </td>
                        <td>
                            {{ message.from_user }}
                        </td>
                        <td>
                            {{ message.send_time }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <!-- page end-->
        </section>
    </section>
{% endblock %}
</body>
</html>