<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Base{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{%  static "css/login.css" %}" rel="stylesheet">
    <link href="{% static "css/clubid.css" %}" rel="stylesheet">
</head>
<body>
{% include 'nav.html' %}

{% block content %}<h1>Hello World!</h1>{% endblock %}

{% include 'footer.html' %}
<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
</body>
</html>