<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>nav</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
        <!-- Bootstrap core CSS -->
    <link href="{%  static "css/bootstrap.css" %}" rel="stylesheet">
</head>
<body>
<div class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand hidden-sm" href="{% url "index" %}" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'navbar-首页'])">建平学生社团系统</a>
        </div>
        <div class="navbar-collapse collapse" role="navigation">
          <ul class="nav navbar-nav">
            <li><a href="{% url "login" %}" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'v3doc'])">社团动态</a></li>
            <li><a href="{% url "club_all" %}" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'v4doc'])">社团介绍</a></li>
            <li><a href="{% url "login" %}" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'less'])">活动报名</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right hidden-sm">
              {% if user %}
                <li><a href="{% url "login" %}">登录</a></li>
              {% else %}
                <li><a href="#">注销</a> </li>
              {% endif %}
            <li><a href="https://about.me/nichujie" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'about'])">关于</a></li>
          </ul>
        </div>
      </div>
    </div>
<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
</body>
</html>